body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    font-family: 'RifficFreeBold', sans-serif;
    overscroll-behavior: none;
}

#back-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;          /* Fill the entire space, cropping if necessary */
    object-position: bottom center; /* Prioritize cropping from the bottom if needed */
    z-index: -1;                /* Ensure it stays behind other content */
}

/* Make it invisible after  */
/* ton-connect {
    display: none !important;
    visibility: hidden;
} */

@supports (-webkit-touch-callout: none) {

    input[type="text"],
    textarea {
        position: absolute !important;
        top: 0;
        left: 0;
        transform: translate(-9999px, -9999px);
        z-index: 1000;
        pointer-events: auto;
        opacity: 0;
        width: 1px;
        height: 1px;
    }
}

#characted-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin-bottom: -10%;
}

#character-container {
    position: absolute;          /* Position it relative to the viewport */
    bottom: 40px;                /* Distance from the bottom of the screen */
    left: 50%;                   /* Center horizontally */
    transform: translateX(-50%); /* Perfectly center the container */
    display: flex;               /* Align sprites horizontally */
    justify-content: center;
    align-items: center;
    z-index: 2;                  /* Ensure it's above the background */
}

.character-sprite {
    position: absolute;
    width: 40%;
    height: auto;
    z-index: 2;
    animation: walk-animation 1s steps(4) infinite;
}

.loading-text-sprite {
    width: 200px;
    height: auto;
    margin: 0 5px;
}

#loading-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.spinning-load-sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    animation: rotation 1s steps(12) infinite;
}


@keyframes rotation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@font-face {
    font-family: 'RifficFreeBold';
    src: url('RIFFICFREE-BOLD.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#load-text {
    font-family: 'RifficFreeBold', sans-serif;
    font-size: 1.5em;
    color: rgb(170, 140, 235);
    height: 8em;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#unity-loading-bar {
    position: absolute;  /* Acts as the reference point */
    width: 200px;        /* Set desired width */
    height: auto;        /* Adjust based on image ratio */
    margin: 0 auto;      /* Center horizontally */
    bottom: 20px;                
    left: 50%;
    transform: translateX(-50%);
    display: flex;               
    justify-content: center;
    align-items: center;
    z-index: 2;            
}

#unity-progress-bar-empty {
    width: 100%;
    height: 100%;
    display: block;
}

#unity-progress-bar-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;           
    height: 100%;
    /* object-fit: cover; */
    transition: width 0.3s ease;
}

#custom-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

#unity-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

#unity-container.unity-desktop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    background: #000000
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-logo {
    display: none !important;
}

#unity-footer {
    display: none;
}

#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center;
    display: none;
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
    display: none;
}

#unity-fullscreen-button {
    cursor: pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    display: none;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}